aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
APScheduler
asgiref
attrs
autobahn
Automat
backoff
beautifulsoup4
branca
cbor2
certifi
cffi
channels
channels_redis
charset-normalizer
click
colorama
constantly
cryptography
daphne
dataclasses-json
defusedxml
distro
dj-database-url
Django
django-apscheduler
django-cleanup
django-cors-headers
django-extensions
django-filter
django-oauth-toolkit
django-redis
django-rest-framework
django-rest-knox
django-tinymce
djangorestframework
djangorestframework_simplejwt
drf-social-oauth2
et_xmlfile
filelock
folium
frozenlist
fsspec
google-auth
google-genai
h11
hf-xet
httpcore
httpx
huggingface_hub
hyperlink
idna
Incremental
Jinja2
jsonpath-python
jwcrypto
markdown-it-py
MarkupSafe
marshmallow
mdurl
msgpack
multidict
mypy_extensions
numpy
oauthlib
opencage
openpyxl
packaging
pandas
paystackapi
paystackease
phonenumbers
pillow
propcache
py-ubjson
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
PyJWT
pyOpenSSL
python-dateutil
python-decouple
python3-openid
pytz
PyYAML
rave-python
redis
requests
requests-oauthlib
rich
service-identity
shellingham
shippo
six
sniffio
social-auth-app-django
social-auth-core
soupsieve
sqlparse
stripe
tenacity
tqdm
Twisted
txaio
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
urllib3
websockets
whitenoise
xyzservices
yarl
zope.interface
