<!-- Footer section start -->
<section class="bg-light ">
	

	<div class="footer-btm pt-0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-sm-12 col-lg-6">
					<p class="mb-0 copyright text-sm-center text-lg-start">© 2023 Algoridm Platforms Limited. All rights reserved</p>
				</div>

				<div class="col-xl-6 col-sm-12 col-lg-6">
					<div class="footer-btm-links text-start text-sm-center text-lg-end">
						<ul class="list-inline">
							<!-- <li class="list-inline-item"><a href="#"> Terms of Service</a></li> -->
							<!-- <li class="list-inline-item"><a href="#">Apply</a></li> -->
							<!-- <li class="list-inline-item"><a href="#">Privacy Policy</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- Footer section End -->