{% load humanize %}
<div class="row uk-margin-remove justify-content-center">
    <div class="col-8 p-2">
        <div class="row">
            <div class="col-12">
                <span class="uk-text-bold">₦{{transaction.amount|floatformat:2|intcomma}} 
                    {% if transaction.status == 'pending' %}
                    <i class="fa fa-circle text-warning fa-tiny"></i>
                    {% elif transaction.status == 'success' %}
                    <i class="fa fa-circle text-success fa-tiny"></i>
                    {% endif %}</span>

                    <i class="fa fa-arrows-h fa-1x text-primary"></i>
            </div>
            <div class="col-12">
                <span class="">{{transaction.date_time_added}}</span>

            </div>
        </div>


    </div>
    <div class="col-4 uk-text-right p-2 uk-inline uk-position-relative">
        {% if transaction.status == 'pending' %}
        <!-- <span class="uk-badge bg-warning">{{transaction.status}}</span> -->
        <button class="btn btn-white p-1 rounded-circle " style="height: 30px;width: 30px;">
            <i class="fa fa-ellipsis-v text-gray "></i></button>
        <div uk-dropdown="mode:click;" class="uk-overflow-auto px-0 py-0 rounded-1"
            style="max-height: 250px;">
            <ul class="uk-nav uk-dropdown-nav">

                <li
                    class="btn btn-white border-bottom uk-width-1-1 uk-text-left btn-sm">
                    <a href="{% url 'complete_payment' pay_id=transaction.payment_id %}" class="text-dark">Pay now</a>
                </li>

                <li
                    class="btn btn-white border-bottom uk-width-1-1 uk-text-left btn-sm">
                    <a href="{% url 'cancel_payment' pay_id=transaction.payment_id %}"
                        class="text-danger">Cancel</a>
                </li>


            </ul>
        </div>

        
        {% endif %}

    </div>
</div>